<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">DivTracker</a>
  <button class="navbar-toggler" type="button"
  data-toggle="collapse" data-target="\#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false"
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
  id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item 
        #if(title == "Portfolio"): active #endif">
          <a href="/list-portfolio" class="nav-link">Portfolio</a>
      </li>
      <li class="nav-item 
        #if(title == "Stock"): active #endif">
          <a href="/list-stock" class="nav-link">Stock</a>
      </li>
      <!-- <li class="nav-item 
         #if(title == "Transaction"): active #endif">
           <a href="/list-transaction" class="nav-link">Transaction</a>
      </li> -->
    </ul>
  </div>
</nav>